<mat-toolbar color="primary">
	<button mat-icon-button
			color="accent"
			class="example-icon"
			aria-label="Example icon-button with menu icon">
		<mat-icon>menu</mat-icon>
	</button>
	<p class="toolbar__title">Bookmarx</p>
	<span class="example-spacer"></span>
	<button mat-icon-button
			color="accent"
			class="example-icon favorite-icon"
			aria-label="Example icon-button with heart icon">
		<mat-icon>favorite</mat-icon>
	</button>
	<button mat-icon-button
			color="accent"
			class="example-icon"
			aria-label="Example icon-button with share icon">
		<mat-icon>share</mat-icon>
	</button>
</mat-toolbar>
<div class="mat-flex">
	<div class="file-explorer__wrapper"
		 [style.width.px]="FileExplorerWidthPX">
		<mat-list cdkDropList
				  class="example-list"
				  [cdkDropListData]="BookmarkCollections"
				  (cdkDropListDropped)="HandleDrop($event)">
			<!-- <ng-container *ngFor="let collection of BookmarkCollections"> -->
			<mat-list-item cdkDrag
						   *ngFor="let collection of BookmarkCollections"
						   matRipple
						   class="example-box d-flex w-100 align-items-end justify-content-between"
						   [cdkDragData]="collection"
						   (cdkDragStarted)="HandleDragStart($event, collection)"
						   (click)="OpenBookmarkCollection($event, collection)"
						   (dblclick)="HandleDoubleClick($event, collection)"
						   [style.padding-left.px]="collection.Depth * 20"
						   [ngStyle]="{
						'height': collection.IsCollapsed ? '0px' : 'auto',
						'min-height': collection.IsCollapsed ? '0' : 'auto',
						'padding-top': collection.IsCollapsed ? '0' : '5px',
						'padding-bottom': collection.IsCollapsed ? '0' : '5px',
						'border-bottom': collection.IsCollapsed ? 'none' : 'solid 1px #ccc'
						}">
				<div>
					<button mat-icon-button
							aria-label="Example icon button with a vertical three dot icon"
							(click)="ToggleTree(collection, !collection.ChildCollectionsCollapsed)"
							[style.margin-left.px]="-20"
							*ngIf="collection.HasChildren">
						<ng-container *ngIf="!collection.ChildCollectionsCollapsed">
							<mat-icon aria-hidden="false"
									  aria-label="Example home icon">keyboard_arrow_down</mat-icon>
						</ng-container>
						<ng-container *ngIf="collection.ChildCollectionsCollapsed">
							<mat-icon aria-hidden="false"
									  aria-label="Example home icon">keyboard_arrow_right</mat-icon>
						</ng-container>
					</button>
					<p class="mat-text-nowrap">
						<span [innerHTML]="collection.Icon"></span>&nbsp;
						<span>{{collection.Title}}</span>&nbsp;
					</p>
				</div>
				<div>
					<span class="collections__bookmark-count">{{collection.Bookmarks?.length}}</span>
				</div>
			</mat-list-item>
			<mat-divider></mat-divider>
		</mat-list>
	</div>
	<div class="file-explorer__handle"
		 (mousedown)='OnResizableClick($event)'
		 role="separator"
		 aria-label="Resize file explorer"
		 tabindex="0"
		 aria-grabbed="false">
	</div>
	<div class="bookmarks__output">
		<button type="button"
				(click)="SignOut()">Sign Out</button>
		<button type="button"
				(click)="ImportExistingBookmarks()">Import existing bookmarks</button>
		<button type="button"
				(click)="ClearBookmarks()">Clear all</button>
		<hr />
		<mat-card>
			<mat-card-title>{{ActiveCollection?.Title}}</mat-card-title>
			<mat-card-subtitle>{{ActiveCollection?.Bookmarks?.length}}</mat-card-subtitle>
		</mat-card>
		<ng-container *ngIf="!ActiveCollection?.Bookmarks?.length">
			<p>No saved bookmarks.</p>
		</ng-container>
		<ng-container *ngIf="ActiveCollection?.Bookmarks?.length">
			<mat-card *ngFor="let bookmark of ActiveCollection?.Bookmarks">
				<a [href]="SanitizeUrl(bookmark.Url)"
				   target="_blank">
					{{bookmark.Title}}
				</a>
			</mat-card>
		</ng-container>
	</div>
</div>