<main class="row">
	<div cdkDropList
		 class="col example-list"
		 [cdkDropListData]="BookmarkCollections"
		 (cdkDropListDropped)="drop($event)">
		<div cdkDrag
			 class="example-box"
			 [cdkDragData]="collection"
			 *ngFor="let collection of BookmarkCollections"
			 [style.padding-left.px]="collection.Depth * 20"
			 [cdkDragDisabled]="collection.ParentId == null">
			{{collection.Title}}
		</div>
	</div>
	<div class="col-9">
		<button type="button"
				(click)="SignOut()">Sign Out</button>
		<button type="button"
				(click)="ImportExistingBookmarks()">Import existing bookmarks</button>
		<button type="button"
				(click)="ClearBookmarks()">Clear all</button>
		<hr />
	</div>
</main>