<main class="row">
	<mat-toolbar color="primary">
		<button mat-icon-button
				class="example-icon"
				aria-label="Example icon-button with menu icon">
			<mat-icon>menu</mat-icon>
		</button>
		<span>My App</span>
		<span class="example-spacer"></span>
		<button mat-icon-button
				class="example-icon favorite-icon"
				aria-label="Example icon-button with heart icon">
			<mat-icon>favorite</mat-icon>
		</button>
		<button mat-icon-button
				class="example-icon"
				aria-label="Example icon-button with share icon">
			<mat-icon>share</mat-icon>
		</button>
	</mat-toolbar>
	<div cdkDropList
		 class="col p-0 example-list"
		 [cdkDropListData]="BookmarkCollections"
		 (cdkDropListDropped)="drop($event)">
		<mat-card cdkDrag
				  class="example-box"
				  [cdkDragData]="collection"
				  *ngFor="let collection of BookmarkCollections"
				  [cdkDragDisabled]="collection.ParentId == null"
				  (cdkDragStarted)="HandleDragStart($event, collection)"
				  (click)="OpenBookmarkCollection(collection)"
				  (dblclick)="HandleDoubleClick(collection)"
				  [style.padding-left.px]="collection.Depth * 20">
			<ng-container *ngIf="!collection.IsCollapsed">
				<div>
					<div class="d-flex align-items-center">
						<ng-container *ngIf="collection.HasChildren">
							<button mat-icon-button
									aria-label="Example icon button with a vertical three dot icon"
									(click)="ToggleTree(collection, !collection.ChildCollectionsCollapsed)"
									[style.margin-left.px]="-20">
								<ng-container *ngIf="!collection.ChildCollectionsCollapsed">
									<mat-icon aria-hidden="false"
											  aria-label="Example home icon">keyboard_arrow_down</mat-icon>
								</ng-container>
								<ng-container *ngIf="collection.ChildCollectionsCollapsed">
									<mat-icon aria-hidden="false"
											  aria-label="Example home icon">keyboard_arrow_right</mat-icon>
								</ng-container>
							</button>
						</ng-container>
						<p class="m-0 p-0">
							{{collection.Title}}
						</p>
					</div>
				</div>
			</ng-container>
		</mat-card>
	</div>
	<div class="col-9 p-0">
		<button type="button"
				(click)="SignOut()">Sign Out</button>
		<button type="button"
				(click)="ImportExistingBookmarks()">Import existing bookmarks</button>
		<button type="button"
				(click)="ClearBookmarks()">Clear all</button>
		<hr />
		<ng-container *ngIf="!Bookmarks.length">
			<p>No saved bookmarks.</p>
		</ng-container>
		<ng-container *ngIf="Bookmarks.length">
			<div *ngFor="let bookmark of Bookmarks">
				<a [href]="SanitizeUrl(bookmark.Url)"
				   target="_blank">
					{{bookmark.Title}}
				</a>
			</div>
		</ng-container>
	</div>
</main>