<div cdkDropList
	 class="example-list"
	 [id]="parentItemId"
	 [cdkDropListData]="parentItem"
	 [cdkDropListConnectedTo]="allDropListsIds"
	 (cdkDropListDropped)="onDragDrop($event)">
	<ng-container *ngIf="item.Url == null || item.Url == undefined || item.Url == ''">
		<div cdkDrag
			 [id]="item.Id"
			 [cdkDragData]="item"
			 class="example-box">
			<div title="Drag this item with children"
				 class="cdk-drag-handle">
				{{item.Title}}
			</div>
		</div>
	</ng-container>
	<ul cdkDropList
		class="example-list"
		[id]="item.Id"
		[cdkDropListConnectedTo]="connectedDropListsIds"
		[cdkDropListData]="item"
		(cdkDropListDropped)="onDragDrop($event)">
		<li *ngFor="let subItem of item.Children">
			<app-bookmark-tree [item]="subItem"
							   [parentItem]="item"
							   [connectedDropListsIds]="allDropListsIds"
							   (itemDrop)="onDragDrop($event)">
			</app-bookmark-tree>
		</li>
	</ul>
</div>